/** Public WordCamp Galicia 2026 CSS */

/*
--wp--preset--color--base: #f9f9f9;
--wp--preset--color--base-2: #ffffff;
--wp--preset--color--contrast: #333333; // Gris WC Ponte 2024
--wp--preset--color--contrast-2: #333333;
--wp--preset--color--contrast-3: #A4A4A4;
--wp--preset--color--accent: #cfcabe;
--wp--preset--color--accent-2: #d4cdf4; // Lila clarito WC Galicia 2026
--wp--preset--color--accent-3: #35ff69; // Verde WC Galicia 2026
--wp--preset--color--accent-4: #6a478d; // Lila WC Galicia 2026
--wp--preset--color--accent-5: #b5bdbc;

Payload URL to update CSS https://galicia.wordcamp.org/2026/wp-admin/admin-ajax.php?action=wcrcss_webhook
*/

.single-post .wp-block-post-featured-image .wp-post-image {
    mask-image: url('https://galicia.wordcamp.org/2026/files/2026/05/mascara-entrada-blog.png');
    mask-repeat: no-repeat;
    mask-position: center;
}
